.side_drawer {
    height: 100%;
    background: var(--color-primary-500);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 150px;
    z-index: 2;
}

.side_drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_drawer li {
    margin: 0.5rem 0;
}

.side_drawer a {
    color: white;
    text-decoration: none;
    font-size: var(--size-5);
}

.side_drawer a:hover,
.side_drawer a:active {
    color:gray;
}

@media (min-width: 769px) {
    .side_drawer {
        display: none;
    }
}