.container {
    margin: var(--size-8) auto;
    margin-bottom: 0;
    padding-left: var(--size-6);
    padding-right: var(--size-4);
}

.control {
    margin: 0.5rem 0;
    flex: 1;
    min-width: 10rem;
  }

.control label {
    display: none;
}

.control input,
  .control textarea {
    font: inherit;
    font-size: var(--size-3);
    color: var(--color-grey-800);
    padding: var(--size-2);
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
    border: 0.05rem solid var(--color-primary-500);
    font-size: var(--size-5);
  }

  .control input[type="text"],
  .control textarea[type="text"] {
    font-size: var(--size-4);
    padding: 0.5rem;
  }

  .control input::placeholder,
  .control textarea::placeholder {
    font-size: var(--size-4);
    color: var(--color-primary-500);
    opacity: 80%;
  }

  .control input[type="text"]:focus,
  .control textarea[type="text"]:focus {
    font-size: var(--size-4);
    border: none;
  }

  .container_reply_btn{
    margin: 0.5rem 1.5rem;
    margin-right: 0;
    margin-top: 0;
    align-content: center;
    text-align: right;
  }

  .add_new_btn {
    display: inline-block;
    background-color: var(--color-primary-500);
    font-size: var(--size-4);
    border-radius: 6px;
    border: none;
    padding: 0.5rem 0.8rem;
    padding-bottom: 0;
    color: white;
    margin-left: 1rem;
  }

  .clear_btn {
    display: inline-block;
    background: transparent;
    font-size: var(--size-4);
    font-weight: bold;
    border: none;
    color: var(--color-primary-500);
  }

  .container_reply_btn button:hover {
    color: var(--color-primary-200);
  }

  @media (max-width: 768px) {
    .container {
        padding-left: var(--size-3);
        padding-right: var(--size-2);
    }
  }